/.vs/config/applicationhost.config
/.vs/ExchangersAnalizer/v15/.suo
/.vs/ExchangersAnalizer/v15/Server/sqlite3/db.lock
/.vs/ExchangersAnalizer/v15/Server/sqlite3/storage.ide
/.vs/ExchangersAnalizer/v15/Server/sqlite3/storage.ide-shm
/.vs/ExchangersAnalizer/v15/Server/sqlite3/storage.ide-wal
/ExchangersAnalizer/bin/Debug/netcoreapp2.0/ExchangersAnalizer.deps.json
/ExchangersAnalizer/bin/Debug/netcoreapp2.0/ExchangersAnalizer.dll
/ExchangersAnalizer/bin/Debug/netcoreapp2.0/ExchangersAnalizer.pdb
/ExchangersAnalizer/bin/Debug/netcoreapp2.0/ExchangersAnalizer.runtimeconfig.dev.json
/ExchangersAnalizer/bin/Debug/netcoreapp2.0/ExchangersAnalizer.runtimeconfig.json
/ExchangersAnalizer/obj/Debug/netcoreapp2.0/ExchangersAnalizer.AssemblyInfo.cs
/ExchangersAnalizer/obj/Debug/netcoreapp2.0/ExchangersAnalizer.AssemblyInfoInputs.cache
/ExchangersAnalizer/obj/Debug/netcoreapp2.0/ExchangersAnalizer.csproj.CoreCompileInputs.cache
/ExchangersAnalizer/obj/Debug/netcoreapp2.0/ExchangersAnalizer.csproj.FileListAbsolute.txt
/ExchangersAnalizer/obj/Debug/netcoreapp2.0/ExchangersAnalizer.csprojResolveAssemblyReference.cache
/ExchangersAnalizer/obj/Debug/netcoreapp2.0/ExchangersAnalizer.dll
/ExchangersAnalizer/obj/Debug/netcoreapp2.0/ExchangersAnalizer.pdb
/ExchangersAnalizer/obj/ExchangersAnalizer.csproj.nuget.cache
/ExchangersAnalizer/obj/ExchangersAnalizer.csproj.nuget.g.props
/ExchangersAnalizer/obj/ExchangersAnalizer.csproj.nuget.g.targets
/ExchangersAnalizer/obj/project.assets.json
/.vs/ExchangersAnalizer/DesignTimeBuild/.dtbcache
/ExchangersAnalizer/obj/Debug/netcoreapp2.0/ExchangersAnalizer.csprojAssemblyReference.cache
